<div class="first-screen" id="home">
  <div class="container first-screen__container">
    <div class="first-screen__text-box">
      <h1 class="first-screen__text-box_title">Never Caught<br>Off-Guard Again</h1>
      <p class="first-screen__text-box_text">We are specialist in protecting your assets and reputation to make sure you operate risk-free and focus on your core business.</p>
      <a href="#what">
        <button mat-button class="first-screen__text-box_button">Learn More</button>
      </a>
      <img class="first-screen__text-box_img" src="/assets/images/scroll.png" alt="scroll">
    </div>
  </div>  
  <div class="first-screen__img"></div>
</div>
