@import '../../assets/var_styles';

.first-screen {
  // background-color: #FFBC00;
  background-color: var(--main-color);
  position: relative;
  min-height: 100vh;

  &__container {
    padding-top: 120px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 800px) {
      padding-top: 60px;
      flex-direction: column;
    }
  }

  &__text-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media (max-width: 800px) {
      width: 100%;
    }
      &_title {
        font-family: 'Anton', sans-serif;
        font-size: 68px;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 32px;
      }
      &_text {
        font-size: 18px;
        line-height: 160%;
        margin-bottom: 64px;
 
      }
      &_button {
        width: 176px;
        height: 65px;
        background: #FFF;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #111;
        margin-bottom: 64px;
      }
      &_img {
        width: 20px;
      }
  }
  &__img {
    position: absolute;
    width: 50%;
    height: auto;
    top: 10%;
    left: 60%;
    @media (max-width: 800px) {
      position: static;
      width: 100%;
    }
  }
}