<div class="first-screen">
  <div class="first-screen__text-box">
    <h1 class="first-screen__text-box_title">Never Caught Off-Guard Again</h1>
    <p class="first-screen__text-box_text">We are specialist in protecting your assets and reputation to make sure you operate risk-free and focus on your core business.</p>
    <button class="first-screen__text-box_button">Learn More</button>
    <img class="first-screen__text-box_img" src="../../assets/images/scroll.png" alt="scroll">
  </div>
  <div class="first-screen__img-box">
    <img src="../../assets/images/space-helmetf.png" alt="space-helm">
  </div>
</div>
