<div class="header">
  <div class="container header__container">
    <img class="header__img" src="assets/images/logo.png" alt="logo">
    <div class="header__menu">
      <app-menu></app-menu>
    </div>
    <div 
      class="header__tog" 
      (click)="tog()" 
      [class.header__tog-a]="show"
    >
      <img class="header__tog_ct" src="assets/images/ct.png" alt="">
      <img class="header__tog_cc" src="assets/images/cc.png" alt="">
      <img class="header__tog_cb" src="assets/images/cb.png" alt="">
    </div>
  </div>
</div>
<app-mob-menu 
  (tog)="tog()" 
  class="out"
  [class.in]="show"
>
</app-mob-menu>