.header {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 58px;
  background-color: #FFBC00;
  width: 100%;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__img {
      width: 194px;
      height: 42px;
    }
    &__menu {
      @media (max-width: 799px) {
        display: none;
      }
    }

    &__tog {
      position: relative;
      width: 30px;
      height: 19px;
      cursor: pointer;
      transition:all 2s;
      @media (min-width: 800px) {
        display: none;
      }
      &_ct {
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s;
      }
      &_cc {
        position: absolute;
        top: 8px;
        left: 0;
        transition: 1s;
      }
      &_cb {
        position: absolute;
        bottom: 0;
        right: 0;
        transition: 1s;
      }
    }
    &__tog:hover :first-child {
      transform: rotate(180deg);
      transition: 500ms;
    }
    &__tog:hover :nth-child(2) {
      transform: rotate(180deg);
      transition: 500ms;
    }
    &__tog:hover :last-child {
      transform: rotate(180deg);
      transition: 500ms;
    }

    &__tog-a {
      position: relative;
      width: 30px;
      height: 19px;
      cursor: pointer;
      transition:all 2s;
        @media (min-width: 800px) {
          display: none;
        }
      &_ct {
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s;
      }
      &_cc {
        position: absolute;
        top: 8px;
        left: 0;
        transition: 1s;
      }
      &_cb {
        position: absolute;
        bottom: 0;
        right: 0;
        transition: 1s;
      }
    }
    &__tog-a:hover :first-child {
      transform-origin: left;
      transform: rotate(26deg);
      transition: 250ms;
    }
    &__tog-a:hover :nth-child(2) {
      transform: rotate(-210deg);
      transition: 500ms;
    }
    &__tog-a:hover :last-child {
      transform-origin: right;
      transform: rotate(26deg);
      transition: 250ms;
    }
}

.out {
  z-index: 5;
  // position: fixed;
  // top: 0;
  display: block;
  height: 0vh;
  transform: translateY(-200%);
  transition: 1s;
}

.out.in {
  height: 100vh;
  width: 100%;
  transform: translateY(0);
  display: block;
  z-index: 5;
  position: fixed;
  top: 0;
  transition: 1s;
}