<div class="footer">
  <div class="container footer__container">
    <div class="footer__info">
      <img src="assets/images/logo-white.png" alt="logo">
      <p class="footer__info_text">We are specialist protecting your assets and reputation to make<br>sure you operate risk-free and focus on your core business.</p>
      <p class="footer__info_pw">Address:</p>
      <a class="footer__info_p" href="https://goo.gl/maps/gXQDhw7Fjx7b8jSf7" target="_blank" rel="noopener noreferrer">Hobbemakade 29, 1071 XK, Amsterdam, Netherlands</a>
      <p class="footer__info_pw">E-mail:</p>
      <a class="footer__info_p" href="mailto:safeguard_help@gmail.com">safeguard_help@gmail.com</a>
    </div>
    <div class="footer__menus">
      <div class="footer__menus_main">
        <h3 class="footer__menus_main__title">Main</h3>
        <ul class="footer__menus_main__list">
          <a href="#home" class="footer__menus_main__list_item">
              <li>Home</li>
          </a>
          <a href="#about" class="footer__menus_main__list_item">
              <li>About Us</li>
          </a>
          <a href="#what" class="footer__menus_main__list_item">
              <li>What We Do</li>
          </a>
          <a href="#contact" class="footer__menus_main__list_item">
              <li>Contact Us</li>
          </a>
        </ul>
      </div>
      <div class="footer__menus_services">
        <h3 class="footer__menus_services__title">Services</h3>
        <ul class="footer__menus_services__list">
          <a class="footer__menus_services__list_item" href="">
            <li>Training and Implementation</li>
          </a>
          <a class="footer__menus_services__list_item" href="">
            <li>Cyber Consultants</li>
          </a>
          <a class="footer__menus_services__list_item" href="">
            <li>Consultancy and brand protection</li>
          </a>
          <a class="footer__menus_services__list_item" href="">
            <li>Software</li>
          </a>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__footer">
    <span>©</span>
    <span>Safeguard - all rights reserved</span>
  </div>
</div>