<div class="what-we-do" id="what">
  <div class="container">
    <span class="what-we-do__title-y">What We </span>
    <span class="what-we-do__title">Do</span>

    <div class="what-we-do__content">
      <div class="what-we-do__content_item">
        <div class="what-we-do__content_item-text">
          <div class="what-we-do__content_item-text__num">1</div>
          <div class="what-we-do__content_item-text__text">Training and Implementation</div>
        </div>
        <div class="what-we-do__content_item-img">
          <img class="what-we-do__content_item-img__img" src="/assets/images/wwd1.png" alt="">
          <a class="what-we-do__content_item-img__link" href="">
            <span>Read More</span>
            <img src="/assets/images/link-vector.png" alt="">
          </a>
        </div>
      </div>
        
      <div class="what-we-do__content_item">
        <div class="what-we-do__content_item-text">
          <div class="what-we-do__content_item-text__num">2</div>
          <div class="what-we-do__content_item-text__text">Cyber Consultants</div>
        </div>
        <div class="what-we-do__content_item-img">
          <img 
          class="what-we-do__content_item-img__img img-2" 
          src="/assets/images/wwd2.png" 
          alt=""
          >
            
          <div class="img-21">
            <div class="img-21__top">
              <img 
              class="img-21__top_img" 
              src="/assets/images/21t.png" 
              alt="wa_icon"
              >
              <span class="img-21__top_text">1 min ago</span>
            </div>
            <p class="img-21__bottom">i brought you<br>something interesting</p>
          </div>
          <div class="img-22">
            <div class="img-22__top">
              <img 
              class="img-22__top_img" 
              src="/assets/images/22t.png" 
              alt="gm_icon"
              >
              <span class="img-22__top_text">today</span>
            </div>
            <p class="img-22__bottom">Pss. Some secret info<br>for you!</p>
          </div>
          <a class="what-we-do__content_item-img__link" href="">
            <span>Read More</span>
            <img src="/assets/images/link-vector.png" alt="">
          </a>
        </div>
      </div>
      
      <div class="what-we-do__content_item">
        <div class="what-we-do__content_item-text">
          <div class="what-we-do__content_item-text__num">3</div>
          <div class="what-we-do__content_item-text__text">Consultancy and brand protection</div>
        </div>
        <div class="what-we-do__content_item-img">
          <img class="what-we-do__content_item-img__img" src="/assets/images/wwd3.png" alt="">
          <a class="what-we-do__content_item-img__link" href="">
            <span>Read More</span>
            <img src="/assets/images/link-vector.png" alt="">
          </a>
        </div>
      </div>
      
      <div class="what-we-do__content_item">
        <div class="what-we-do__content_item-text">
          <div class="what-we-do__content_item-text__num">4</div>
          <div class="what-we-do__content_item-text__text">Software</div>
        </div>
        <div class="what-we-do__content_item-img">
          <img class="what-we-do__content_item-img__img" src="/assets/images/wwd4.png" alt="">
          <a class="what-we-do__content_item-img__link" href="">
            <span>Read More</span>
            <img src="/assets/images/link-vector.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <div class="what-we-do__button-box">
      <a href="#what">
        <button mat-button class="what-we-do__button-box_l">Our Services</button>
      </a>
      <a href="#contact">
        <button mat-button class="what-we-do__button-box_r">Contact Us</button>
      </a>
    </div>
  </div> 
</div>