<div class="what-we-do">
  <h1 class="what-we-do__title">What We Do</h1>
  <div class="what-we-do__content">
    <div class="what-we-do__content_item">
      <div class="what-we-do__content_item-text">
        <div class="what-we-do__content_item-text__num">1</div>
        <div class="what-we-do__content_item-text__text">Training and Implementation</div>
      </div>
      <div class="what-we-do__content_item-img">
        <img class="what-we-do__content_item-img__img" src="../../assets/images/wwd1.png" alt="">
        <a class="what-we-do__content_item-img__link" href="">
          <span>Read More</span>
          <img src="../../assets/images/link-vector.png" alt="">
        </a>
      </div>
    </div>
    <div class="what-we-do__content_item">
      <div class="what-we-do__content_item-text">
        <div class="what-we-do__content_item-text__num">2</div>
        <div class="what-we-do__content_item-text__text">Cyber Consultants</div>
      </div>
      <div class="what-we-do__content_item-img">
        <img class="what-we-do__content_item-img__img img-2" src="../../assets/images/wwd2.png" alt="">
        <a class="what-we-do__content_item-img__link" href="">
          <span>Read More</span>
          <img src="../../assets/images/link-vector.png" alt="">
        </a>
      </div>
    </div>
    <div class="what-we-do__content_item">
      <div class="what-we-do__content_item-text">
        <div class="what-we-do__content_item-text__num">3</div>
        <div class="what-we-do__content_item-text__text">Consultancy and brand protection</div>
      </div>
      <div class="what-we-do__content_item-img">
        <img class="what-we-do__content_item-img__img" src="../../assets/images/wwd3.png" alt="">
        <a class="what-we-do__content_item-img__link" href="">
          <span>Read More</span>
          <img src="../../assets/images/link-vector.png" alt="">
        </a>
      </div>
    </div>
    <div class="what-we-do__content_item">
      <div class="what-we-do__content_item-text">
        <div class="what-we-do__content_item-text__num">4</div>
        <div class="what-we-do__content_item-text__text">Software</div>
      </div>
      <div class="what-we-do__content_item-img">
        <img class="what-we-do__content_item-img__img" src="../../assets/images/wwd4.png" alt="">
        <a class="what-we-do__content_item-img__link" href="">
          <span>Read More</span>
          <img src="../../assets/images/link-vector.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="what-we-do__button-box">
    <button class="what-we-do__button-box_l">Our Services</button>
    <button class="what-we-do__button-box_r">Contact Us</button>
  </div>
</div>