<div class="experience" id="about">
  <div class="container experience__container">
    <div class="experience__item">
      <span class="experience__item_title-y">3.5 </span>
      <span class="experience__item_title">Billions</span>
      <p class="experience__item_text">Preventive measurements implemented<br> (cost reduction, loss of investment).</p>
    </div>
    <div class="experience__item">
      <span class="experience__item_title-y">25+ </span>
      <span class="experience__item_title">Years</span>
      <p class="experience__item_text">Of experience in minimizing risk<br> and protecting assets.</p>
    </div>
    <div class="experience__item">
      <span class="experience__item_title-y">1.5 </span>
      <span class="experience__item_title">Billions</span>
      <p class="experience__item_text">Of experience in minimizing risk<br> and protecting assets.</p>
    </div>
  </div>  
</div>