<div class="text-box">
  <div class="text-box__container container">
    <div class="text-box__content">
      <span class="text-box__title-y">Who We </span>
      <span class="text-box__title">Are</span>
      <p class="text-box__text">With our global footprint and our specialized team members and partners we know what it takes to make sure that we can deliver a minimum risk environment for our clients.</p>
      <p class="text-box__text">We know that timing is key, when to accelerate and when to slow down. Having our clients brand top of mind, we make sure that communication, teamwork and quality reports is a given.</p>
      <h3 class="text-box__title_l">A team dedicated to protect your assets and reputation:</h3>
      <ul class="text-box__list">
        <li class="text-box__list_item">Of experience in minimizing risk and protecting assets</li>
        <li class="text-box__list_item">Of experience in minimizing risk and protecting assets</li>
      </ul>
    </div>
    <img class="text-box_img" src="assets/images/wwa-lp.png" alt="">
  </div>
  <div class="text-box__img"></div>
</div>
