<div class="services" id="serv">
  <div class="container">
    <span class="services__title-y">What We </span>
    <span class="services__title">Do</span>
    <div class="services__content">
      <div class="services__content_item">
        <div class="services__content_item__sq"></div>
        <p class="services__content_item__title">Safeguarding our<br>clients</p>
        <p class="services__content_item__text">Discretion is key, therefore we have converted all our case studies without mentioning our clients names.</p>
        <a class="services__content_item__link" href="#contact">
          <span>See Case Studies</span>
          <img src="/assets/images/link-vector-y.png" alt="">
        </a>
      </div>
      
      <div class="services__content_item">
        <div class="services__content_item__sq"></div>
        <p class="services__content_item__title">Let's meet & explore<br>options together</p>
        <p class="services__content_item__text">We're here to help and answer any question you might have. We look forward to hearing from you.</p>
        <a class="services__content_item__link" href="#contact">
          <span>Contact Us</span>
          <img src="/assets/images/link-vector-y.png" alt="">
        </a>
      </div>
      
      <div class="services__content_item">
        <div class="services__content_item__sq"></div>
        <p class="services__content_item__title">Discover where we<br>came from</p>
        <p class="services__content_item__text">We're here to help and answer any question you might have. We look forward to hearing from you.</p>
        <a class="services__content_item__link" href="#contact">
          <span>Our Timeline</span>
          <img src="/assets/images/link-vector-y.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
