<div class="why-we">
  <div class="container">
    <h1 class="why-we__title">Why We</h1>
    <p class="why-we__text">A team dedicated to protect your assets and reputation. With our global footprint and our specialized team members and partners we know what it takes to make sure that we can deliver a minimum risk environment for our clients.</p>
    <div class="why-we__content">
      <div class="why-we__content_item">
        <h1 class="why-we__content_item__num">25+</h1>
        <p class="why-we__content_item__title">years of experience</p>
        <p class="why-we__content_item__text">In handling legal issues.</p>
      </div>
      <div class="why-we__content_item">
        <h1 class="why-we__content_item__num">230+</h1>
        <p class="why-we__content_item__title">signature strategies</p>
        <p class="why-we__content_item__text">Developed for our clients.</p>
      </div>
      <div class="why-we__content_item">
        <h1 class="why-we__content_item__num">145</h1>
        <p class="why-we__content_item__title">corporate clients</p>
        <p class="why-we__content_item__text">We helped thus far.</p>
      </div>
      <div class="why-we__content_item">
        <h1 class="why-we__content_item__num">30</h1>
        <p class="why-we__content_item__title">employees working</p>
        <p class="why-we__content_item__text">For your legal security.</p>
      </div>
    </div>
  </div>
</div>